//media queries variables
// $mini-mobile : 'only screen and (max-width: 320px)'
// $mobileLandscape : 'only screen and (max-width: 767px) and (orientation: landscape)'
$mobile : 'only screen and (max-width: 767px)'
// $tablette : 'only screen and (min-width: 768px) and (max-width: 991px)'
$tablette : 'only screen and (max-width: 991px)'
$desktop : 'only screen and (min-width: 992px)'
// $desktop : 'only screen and (min-width: 992px) and (max-width: 1199px)'
// $large : 'only screen and (min-width: 1200px) and (max-width: 1919px)'
// $wide : 'only screen and (min-width: 1920px)'

//fonts names
$font-family-name: Poppins //muti use
$font-family-thin : Poppins-Thin
$font-family-extra-light : Poppins-ExtraLight
$font-family-light : Poppins-Light
$poppins : Poppins
$font-family-medium : Poppins-Medium
$font-family-semi-bold : Poppins-SemiBold
$font-family-bold : Poppins-Bold
$font-family-extra-bold : Poppins-ExtraBold
$font-family-black : Poppins

//fonts src
$font-src-thin : Thin
$font-src-extra-light : ExtraLight
$font-src-light : Light
$font-src-regular : Regular
$font-src-medium : Medium
$font-src-semi-bold : SemiBold
$font-src-bold : Bold
$font-src-extra-bold : ExtraBold

//fonts url
$font-url-thin-italic : '/assets/fonts/Poppins-ThinItalic.ttf'
$font-url-extra-light-italic : '/assets/fonts/Poppins-ExtraLightItalic.ttf'
$font-url-bold-italic : '/assets/fonts/Poppins-BoldItalic.ttf'
$font-url-extra-bold-italic : '/assets/fonts/Poppins-ExtraBoldItalic.ttf'
$font-url-thin : '/assets/fonts/Poppins-Thin.ttf'
$font-url-extra-light : '/assets/fonts/Poppins-ExtraLight.ttf'
$font-url-light : '/assets/fonts/Poppins-Light.ttf'
$font-url-regular : '/assets/fonts/Poppins-Regular.ttf'
$font-url-medium : '/assets/fonts/Poppins-Medium.ttf'
$font-url-semi-bold : '/assets/fonts/Poppins-SemiBold.ttf'
$font-url-bold : '/assets/fonts/Poppins-Bold.ttf'
$font-url-extra-bold : '/assets/fonts/Poppins-ExtraBold.ttf'

//fonts format
$font-format : 'truetype'
