@use '@/styles/sass/colors' as *
@use '@/styles/sass/variables' as *
@use '@/styles/sass/mixins' as *

// Global styles
.button
  +Regular
  font-size: 11px !important
  background-color: $white
  color: #525256 !important
  width: 100% !important
  text-transform: none !important
  &:hover
    background-color: $white !important
// @media #{}
// @media #{}
// @media #{}
