@use '@/styles/sass/variables' as *
@use '@/styles/sass/colors' as *
@use '@/styles/sass/mixins' as *

// Global styles
.flexRootStack
  width: 100%
.main
  display: block
  padding-top: 32px
  width: 100%
.submitButton
  margin-top: 32px !important
  margin-bottom: 32px !important
@media #{$tablette}
  .main
    padding-top: 0 !important
    margin-top: 1rem !important
  .mobileButton
    margin-top: 2rem !important
    margin-bottom: 2rem !important
  .fixMobile
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%
    padding-left: 24px
    padding-right: 24px